In [ ]:
import pandas as pd
import numpy as np

OPEN Data write to Pandas

In [747]:
read_cmakelists=pd.read_table("CMakeLists.txt",usecols=[0],header=None,engine='python',index_col=0)  #CMakeLists.txt builds by cmake
read_cmakelists.head(4)

Empty DataFrame
Columns: []
Index: [cmake_minimum_required(VERSION 3.25), #this change avoid the warning that appear when we include raylib using Cmake fatch content , project(raylib), # Avoid excessive expansion of variables in conditionals. In particular, if]

In [748]:

read_land=pd.read_csv('lands.csv',index_col=0) 
read_land

             Week       Weather  Temperature
Day 1      Monday  accumulation        13.40
Day 2     Tuesday        breeze        13.96
Day 3   Wednesday          calm        14.21
Day 4    Thursday   disturbance        14.49
Day 5      Friday       drizzle        15.25
Day 6    Saturday         sunny        15.56
Day 7      Sunday          fair        16.10
Day 8      Monday        cloudy        16.50
Day 9     Tuesday       showers        16.20
Day 10  Wednesday          rain        15.80
Day 11   Thursday      downpour        15.52
Day 12     Friday          hail        15.12
Day 13   Saturday         sleet        14.14
Day 14     Sunday          snow        13.31
Day 15     Monday     snowflake        12.11
Day 16    Tuesday        gloomy        11.48
Day 17  Wednesday         foggy        11.96
Day 18   Thursday      overcast        12.24
Day 19     Friday         clear        12.89
Day 20   Saturday      blustery        13.56
Day 21     Sunday         windy        14.83

In [749]:

read_nut=pd.read_csv("Nut_Services_Admin_Costs.csv",index_col=0)
read_nut

                                            Cumulative Cost:\r\n October-September
State Agency or Indian Tribal Organization
Connecticut                                                             12113786.0
Maine                                                                    5095547.0
Massachusetts                                                           24672286.0
New Hampshire                                                            4033109.0
New York                                                               108621754.0
...                                                                            ...
Washington                                                              50671500.0
Northern Marianas                                                        1184670.0
Inter-Tribal Council, AZ                                                 3188297.0
Navajo Nation, AZ                                                        3291062.0
Inter-Tribal Council, NV                                                  609464.0

[92 rows x 1 columns]

In [750]:
read_xlsx=pd.read_excel("chess_data.xlsx",nrows=5)
read_xlsx.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1504210000000,1504210000000,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1504130000000,1504130000000,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1504130000000,1504130000000,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1504110000000,1504110000000,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1504030000000,1504030000000,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [751]:
read_nut.to_csv("nut_sales.txt",sep='\t',index=True)

In [752]:

type(read_land)

pandas.core.frame.DataFrame

In [753]:
def  data_colunm_get(iter:pd.DataFrame):   #get any dataframe columns for any data
 data_row=[]
 for i in iter:
   data_row.append(i)
 return data_row

magic_land_colums=data_colunm_get(iter=read_land)
magic_land_colums

['Week', 'Weather', 'Temperature']

In [754]:

magic_land_colums[0]  #get magic_land_columns[0] index

'Week'

In [755]:
Week=read_land.loc[:,'Week']    #get the magic land all week
WEEK=pd.Series(data=Week,index=["Day %d"% (i+1) for i in range(0,21)],dtype=object,name="Week") #see the day-week reference 
WEEK

Day 1        Monday
Day 2       Tuesday
Day 3     Wednesday
Day 4      Thursday
Day 5        Friday
Day 6      Saturday
Day 7        Sunday
Day 8        Monday
Day 9       Tuesday
Day 10    Wednesday
Day 11     Thursday
Day 12       Friday
Day 13     Saturday
Day 14       Sunday
Day 15       Monday
Day 16      Tuesday
Day 17    Wednesday
Day 18     Thursday
Day 19       Friday
Day 20     Saturday
Day 21       Sunday
Name: Week, dtype: object

In [756]:
magic_land_value=WEEK.values   #get magic land all week index data
magic_land_value

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday'], dtype=object)

In [757]:
magic_land_index=WEEK.index  #get magic land all day index data
magic_land_index

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8',
       'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15',
       'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21'],
      dtype='object')

In [758]:
magic_land_datatype=WEEK.dtype
magic_land_datatype

dtype('O')

In [759]:
magic_land_name=WEEK.name
magic_land_name

'Week'

In [760]:
magic_land_shape=WEEK.shape
magic_land_shape

(21,)

In [761]:
WEEK[magic_land_index.tolist()[0]]

'Monday'

In [762]:
magic_land=pd.DataFrame(data=read_land)
magic_land

             Week       Weather  Temperature
Day 1      Monday  accumulation        13.40
Day 2     Tuesday        breeze        13.96
Day 3   Wednesday          calm        14.21
Day 4    Thursday   disturbance        14.49
Day 5      Friday       drizzle        15.25
Day 6    Saturday         sunny        15.56
Day 7      Sunday          fair        16.10
Day 8      Monday        cloudy        16.50
Day 9     Tuesday       showers        16.20
Day 10  Wednesday          rain        15.80
Day 11   Thursday      downpour        15.52
Day 12     Friday          hail        15.12
Day 13   Saturday         sleet        14.14
Day 14     Sunday          snow        13.31
Day 15     Monday     snowflake        12.11
Day 16    Tuesday        gloomy        11.48
Day 17  Wednesday         foggy        11.96
Day 18   Thursday      overcast        12.24
Day 19     Friday         clear        12.89
Day 20   Saturday      blustery        13.56
Day 21     Sunday         windy        14.83

In [763]:
magic_land[[magic_land_colums[0],magic_land_colums[1]]] #select the Week and Weather data

             Week       Weather
Day 1      Monday  accumulation
Day 2     Tuesday        breeze
Day 3   Wednesday          calm
Day 4    Thursday   disturbance
Day 5      Friday       drizzle
Day 6    Saturday         sunny
Day 7      Sunday          fair
Day 8      Monday        cloudy
Day 9     Tuesday       showers
Day 10  Wednesday          rain
Day 11   Thursday      downpour
Day 12     Friday          hail
Day 13   Saturday         sleet
Day 14     Sunday          snow
Day 15     Monday     snowflake
Day 16    Tuesday        gloomy
Day 17  Wednesday         foggy
Day 18   Thursday      overcast
Day 19     Friday         clear
Day 20   Saturday      blustery
Day 21     Sunday         windy

In [764]:
magic_lands_value=magic_land.values
magic_lands_value

array([['Monday', 'accumulation', 13.4],
       ['Tuesday', 'breeze', 13.96],
       ['Wednesday', 'calm', 14.21],
       ['Thursday', 'disturbance', 14.49],
       ['Friday', 'drizzle', 15.25],
       ['Saturday', 'sunny', 15.56],
       ['Sunday', 'fair', 16.1],
       ['Monday', 'cloudy', 16.5],
       ['Tuesday', 'showers', 16.2],
       ['Wednesday', 'rain', 15.8],
       ['Thursday', 'downpour', 15.52],
       ['Friday', 'hail', 15.12],
       ['Saturday', 'sleet', 14.14],
       ['Sunday', 'snow', 13.31],
       ['Monday', 'snowflake', 12.11],
       ['Tuesday', 'gloomy', 11.48],
       ['Wednesday', 'foggy', 11.96],
       ['Thursday', 'overcast', 12.24],
       ['Friday', 'clear', 12.89],
       ['Saturday', 'blustery', 13.56],
       ['Sunday', 'windy', 14.83]], dtype=object)

In [765]:
magic_lands_index=magic_land.index
magic_lands_index

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8',
       'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15',
       'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21'],
      dtype='object')

In [766]:
magic_lands_colums=magic_land.columns
magic_lands_colums

Index(['Week', 'Weather', 'Temperature'], dtype='object')

In [767]:
magic_land.dtypes

Week            object
Weather         object
Temperature    float64
dtype: object

In [768]:
magic_land.shape

(21, 3)

In [769]:
magic_land.T

,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,Day 7,Day 8,Day 9,Day 10,...,Day 12,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19,Day 20,Day 21
Week,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,...,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Weather,accumulation,breeze,calm,disturbance,drizzle,sunny,fair,cloudy,showers,rain,...,hail,sleet,snow,snowflake,gloomy,foggy,overcast,clear,blustery,windy
Temperature,13.4,13.96,14.21,14.49,15.25,15.56,16.1,16.5,16.2,15.8,...,15.12,14.14,13.31,12.11,11.48,11.96,12.24,12.89,13.56,14.83

In [770]:
learn_pd_data=pd.read_csv('learn_pandas.csv')  #it data for joyful-pandas address is  https://github.com/datawhalechina/joyful-pandas/blob/master/data/learn_pandas.csv
learn_pd_data.columns[2]

'Name'

In [771]:
def get_dataframe_column(iter:pd.DataFrame,choose_colums:int,end_columns:int|None):  #get any dataframe columns for any data
    if  (choose_colums>len(iter.columns)) or (choose_colums<0):
        raise ValueError("choose_colums is not in range")
    else:
        return iter[iter.columns[choose_colums:end_columns]]

In [772]:
#magic_land[magic_lands_colums[:2]]
get_dataframe_column(iter=magic_land,choose_colums=0,end_columns=2)

             Week       Weather
Day 1      Monday  accumulation
Day 2     Tuesday        breeze
Day 3   Wednesday          calm
Day 4    Thursday   disturbance
Day 5      Friday       drizzle
Day 6    Saturday         sunny
Day 7      Sunday          fair
Day 8      Monday        cloudy
Day 9     Tuesday       showers
Day 10  Wednesday          rain
Day 11   Thursday      downpour
Day 12     Friday          hail
Day 13   Saturday         sleet
Day 14     Sunday          snow
Day 15     Monday     snowflake
Day 16    Tuesday        gloomy
Day 17  Wednesday         foggy
Day 18   Thursday      overcast
Day 19     Friday         clear
Day 20   Saturday      blustery
Day 21     Sunday         windy

In [773]:
get_dataframe_column(iter=learn_pd_data,choose_colums=6,end_columns=10)

    Transfer  Test_Number   Test_Date Time_Record
0          N            1   2019/10/5     0:04:34
1          N            1    2019/9/4     0:04:20
2          N            2   2019/9/12     0:05:22
3          N            2    2020/1/3     0:04:08
4          N            2   2019/11/6     0:05:22
..       ...          ...         ...         ...
195        N            2  2019/10/17     0:04:31
196        N            3   2019/9/22     0:04:03
197        N            1    2020/1/5     0:04:48
198        N            2    2020/1/7     0:04:58
199        N            1   2019/11/6     0:05:05

[200 rows x 4 columns]

In [774]:
magic_land.head(3)

            Week       Weather  Temperature
Day 1     Monday  accumulation        13.40
Day 2    Tuesday        breeze        13.96
Day 3  Wednesday          calm        14.21

In [775]:
learn_pd_data.head(3)

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N,1,2019/10/5,0:04:34
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019/9/4,0:04:20
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N,2,2019/9/12,0:05:22

In [776]:
magic_land.tail(3)

            Week   Weather  Temperature
Day 19    Friday     clear        12.89
Day 20  Saturday  blustery        13.56
Day 21    Sunday     windy        14.83

In [777]:
learn_pd_data[learn_pd_data.columns[0]].tail(3)

197    Shanghai Jiao Tong University
198    Shanghai Jiao Tong University
199              Tsinghua University
Name: School, dtype: object

In [778]:
learn_pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School       200 non-null    object
 1   Grade        200 non-null    object
 2   Name         200 non-null    object
 3   Gender       200 non-null    object
 4   Height       183 non-null    float64
 5   Weight       189 non-null    float64
 6   Transfer     188 non-null    object
 7   Test_Number  200 non-null    int64
 8   Test_Date    200 non-null    object
 9   Time_Record  200 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 15.8+ KB

In [779]:
magic_land.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, Day 1 to Day 21
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Week         21 non-null     object
 1   Weather      21 non-null     object
 2   Temperature  21 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.2+ KB

In [780]:
magic_land.describe()

       Temperature
count    21.000000
mean     14.220476
std       1.511918
min      11.480000
25%      13.310000
50%      14.210000
75%      15.520000
max      16.500000

In [781]:
learn_pd_data.describe()

           Height      Weight  Test_Number
count  183.000000  189.000000   200.000000
mean   163.218033   55.015873     1.645000
std      8.608879   12.824294     0.722207
min    145.400000   34.000000     1.000000
25%    157.150000   46.000000     1.000000
50%    161.900000   51.000000     1.500000
75%    167.500000   65.000000     2.000000
max    193.900000   89.000000     3.000000

In [782]:
objects=(type(magic_land[magic_lands_colums[0]].dtypes))
print(objects)
type(magic_land[magic_land_colums[2]])

<class 'numpy.dtypes.ObjectDType'>

pandas.core.series.Series

In [783]:
def feature_statistics(data:pd.DataFrame,index:list,feature:str):
     data_feature=data[index]
     for index in data_feature.columns:
      if (type(data_feature[index].dtypes)!=objects) :
       match feature:
         case "mean":
          return data_feature.mean(axis=1)       #get any dataframe feature for any data
         
         case "median":                         
          return data_feature.median(axis=1)
         case "max":
             return data_feature.max()
         case "min":
             return data_feature.min()
         case "std":
          return data_feature.std()
         case "var":
          return data_feature.var()
         case 'quantile':
          return data_feature.quantile(q=0.25,axis=1)
         case "count":
          return data_feature.count()
         case "idxmax":
          return data_feature.idxmax()
         case _:
           return("not support feature")
         
      else:raise TypeError("not support dtype is object")

In [784]:
feature_statistics(data=learn_pd_data,index=[learn_pd_data.columns[4],learn_pd_data.columns[5]],feature="std")

Height     8.608879
Weight    12.824294
dtype: float64

In [785]:
feature_statistics(data=magic_land,index=[magic_land_colums[2]],feature='idxmax')

Temperature    Day 8
dtype: object

In [786]:
def data_uniform(data:pd.DataFrame,index:list):
     print(f"unique data is {repr(data[index].head(4).unique())}") 
     print(data[index].value_counts().head(4))

In [787]:
data_uniform(data=magic_land,index=magic_land_colums[2])

unique data is array([13.4 , 13.96, 14.21, 14.49])
Temperature
13.40    1
13.96    1
14.21    1
14.49    1
Name: count, dtype: int64

In [788]:
data_uniform(data=learn_pd_data,index=learn_pd_data.columns[0])

unique data is array(['Shanghai Jiao Tong University', 'Peking University',
       'Fudan University'], dtype=object)
School
Tsinghua University              69
Shanghai Jiao Tong University    57
Fudan University                 40
Peking University                34
Name: count, dtype: int64

In [789]:
def duplicated_data_includ_test(data:pd.DataFrame,index:list,index_another:list):
        if not index or not index_another:
         return False
        elif not all(col in data.columns for col in index):
         return False
        elif not all(col in data.columns for col in index_another):
           return False
        elif not all(col in index for col in index_another):
           return False
        else:
           return True

In [851]:
def duplicated_data(data:pd.DataFrame,index:list,duplicate_index:list):
  if duplicated_data_includ_test(data=data,index=index,index_another=duplicate_index):
    if duplicate_index is not None:
     duplicate_data=data[index]
     return duplicate_data.duplicated(duplicate_index)
    else:return print("empty columns is not valid")
  else:
    raise ValueError("index_another is not in index")

In [846]:
def get_muit_columns_data(data:pd.DataFrame,index:list,index_another:list|None,keep:bool|str=False): # dataframe colunms index_another must include at  colunms index,can be call drop_duplicates()
    if index_another is None:
     return data.drop_duplicates(index)
    if index_another is not None:
     if duplicated_data_includ_test(data=data,index=index,index_another=index_another):
      include_data=data[index]   
      return include_data.drop_duplicates(index_another,keep=keep)
     else:
      raise ValueError("index_another is not in index")

In [804]:
get_muit_columns_data(data=magic_land,index=[magic_land_colums[2],magic_land_colums[1]],index_another=[magic_land_colums[1]])

        Temperature       Weather
Day 1         13.40  accumulation
Day 2         13.96        breeze
Day 3         14.21          calm
Day 4         14.49   disturbance
Day 5         15.25       drizzle
Day 6         15.56         sunny
Day 7         16.10          fair
Day 8         16.50        cloudy
Day 9         16.20       showers
Day 10        15.80          rain
Day 11        15.52      downpour
Day 12        15.12          hail
Day 13        14.14         sleet
Day 14        13.31          snow
Day 15        12.11     snowflake
Day 16        11.48        gloomy
Day 17        11.96         foggy
Day 18        12.24      overcast
Day 19        12.89         clear
Day 20        13.56      blustery
Day 21        14.83         windy

In [793]:
get_muit_columns_data(data=learn_pd_data,index=[learn_pd_data.columns[1],learn_pd_data.columns[6],learn_pd_data.columns[2]],index_another=[learn_pd_data.columns[1],learn_pd_data.columns[2]])

         Grade Transfer            Name
0     Freshman        N    Gaopeng Yang
1     Freshman        N  Changqiang You
2       Senior        N         Mei Sun
3    Sophomore        N    Xiaojuan Sun
4    Sophomore        N     Gaojuan You
..         ...      ...             ...
195     Junior        N    Xiaojuan Sun
196     Senior        N         Li Zhao
197     Senior        N  Chengqiang Chu
198     Senior        N   Chengmei Shen
199  Sophomore        N     Chunpeng Lv

[192 rows x 3 columns]

In [852]:
duplicated_data(data=learn_pd_data,index=[learn_pd_data.columns[0],learn_pd_data.columns[5]],duplicate_index=[learn_pd_data.columns[5]])

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196     True
197     True
198     True
199     True
Length: 200, dtype: bool

In [853]:
duplicated_data(data=magic_land,index=[magic_land_colums[0],magic_land_colums[1]],duplicate_index=[magic_land_colums[1]])

Day 1     False
Day 2     False
Day 3     False
Day 4     False
Day 5     False
Day 6     False
Day 7     False
Day 8     False
Day 9     False
Day 10    False
Day 11    False
Day 12    False
Day 13    False
Day 14    False
Day 15    False
Day 16    False
Day 17    False
Day 18    False
Day 19    False
Day 20    False
Day 21    False
dtype: bool

In [ ]:
def replace_data(data:pd.DataFrame,index_columns:list,replace_text:dict):
          return data[index_columns].replace(replace_text)

In [902]:

replace_dicta={"Freshman":"F","Senior":"S"}
replace_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[1]],replace_text=replace_dicta)

         Grade
0            F
1            F
2            S
3    Sophomore
4    Sophomore
..         ...
195     Junior
196          S
197          S
198          S
199  Sophomore

[200 rows x 1 columns]

In [ ]:
replace_dictss={"breeze":"Breeze","fair":"Fair"}
replace_data(data=magic_land,index_columns=[magic_land_colums[1]],replace_text=replace_dictss)
magic_land[magic_land_colums[1]]

not valid replace

Day 1     accumulation
Day 2           breeze
Day 3             calm
Day 4      disturbance
Day 5          drizzle
Day 6            sunny
Day 7             fair
Day 8           cloudy
Day 9          showers
Day 10            rain
Day 11        downpour
Day 12            hail
Day 13           sleet
Day 14            snow
Day 15       snowflake
Day 16          gloomy
Day 17           foggy
Day 18        overcast
Day 19           clear
Day 20        blustery
Day 21           windy
Name: Weather, dtype: object

In [ ]:
m=magic_land[magic_land_colums[2]]
m.where(m>14,"Cold")

Day 1      Cold
Day 2      Cold
Day 3     14.21
Day 4     14.49
Day 5     15.25
Day 6     15.56
Day 7      16.1
Day 8      16.5
Day 9      16.2
Day 10     15.8
Day 11    15.52
Day 12    15.12
Day 13    14.14
Day 14     Cold
Day 15     Cold
Day 16     Cold
Day 17     Cold
Day 18     Cold
Day 19     Cold
Day 20     Cold
Day 21    14.83
Name: Temperature, dtype: object

In [ ]:
WEEK.where(WEEK!="Monday",'monday')

Day 1        monday
Day 2       Tuesday
Day 3     Wednesday
Day 4      Thursday
Day 5        Friday
Day 6      Saturday
Day 7        Sunday
Day 8        monday
Day 9       Tuesday
Day 10    Wednesday
Day 11     Thursday
Day 12       Friday
Day 13     Saturday
Day 14       Sunday
Day 15       monday
Day 16      Tuesday
Day 17    Wednesday
Day 18     Thursday
Day 19       Friday
Day 20     Saturday
Day 21       Sunday
Name: Week, dtype: object

In [ ]:

#learn_pd_data[learn_pd_data.columns[1]]
s=learn_pd_data[learn_pd_data.columns[4]]
s.where(s<160,"A+")

0      158.9
1         A+
2         A+
3         A+
4         A+
       ...
195    153.9
196       A+
197    153.9
198       A+
199    155.7
Name: Height, Length: 200, dtype: object

In [ ]:
s.mask(s>160,"A+")

0      158.9
1         A+
2         A+
3        NaN
4         A+
       ...
195    153.9
196       A+
197    153.9
198       A+
199    155.7
Name: Height, Length: 200, dtype: object

In [ ]:
def mask_where(data:pd.DataFrame,index_columns:list,cond:bool,new_value:any,logic:str):
    if type(new_value)!=type([]):
     match logic:
      case "where":
        return data[index_columns].where(cond,new_value)
      case "mask":
       return data[index_columns].mask(cond,new_value)
      case _:
        return("not support logic")
    else:
      print("not support list type")

In [ ]:
mask_where(data=learn_pd_data,index_columns=learn_pd_data.columns[4],cond=learn_pd_data[learn_pd_data.columns[4]]>150,new_value=-12.999,logic='where').round(2).abs().clip(13,180)

0      158.9
1      166.5
2      180.0
3       13.0
4      174.0
       ...
195    153.9
196    160.9
197    153.9
198    175.3
199    155.7
Name: Height, Length: 200, dtype: float64

In [ ]:
#magic_land[magic_land.columns[2]]
mask_where(data=magic_land,index_columns=magic_land_colums[2],cond=magic_land[magic_land_colums[2]]<13,new_value="Cold",logic='mask')

Day 1      13.4
Day 2     13.96
Day 3     14.21
Day 4     14.49
Day 5     15.25
Day 6     15.56
Day 7      16.1
Day 8      16.5
Day 9      16.2
Day 10     15.8
Day 11    15.52
Day 12    15.12
Day 13    14.14
Day 14    13.31
Day 15     Cold
Day 16     Cold
Day 17     Cold
Day 18     Cold
Day 19     Cold
Day 20    13.56
Day 21    14.83
Name: Temperature, dtype: object

In [987]:
def sorting_data(data:pd.DataFrame,index_columns:list|None,set_index:list,ascending:bool|list):
    if index_columns is None:
      return data.sort_values(set_index,ascending=ascending)
    if duplicated_data_includ_test(data=data,index=index_columns,index_another=set_index):
     if type(ascending)==type([]):
        if len(ascending)==len(set_index):
         return data[index_columns].sort_values(set_index,ascending=ascending)
        else:print("ascending and set_index length is not equal")
     else:data[index_columns].sort_values(level=set_index,ascending=ascending)
    else :print("set index is not in index_columns")

In [988]:
sorting_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[1],learn_pd_data.columns[8],learn_pd_data.columns[4],
            learn_pd_data.columns[5]],set_index=[learn_pd_data.columns[1],learn_pd_data.columns[4]],ascending=[True,True])

         Grade   Test_Date  Height  Weight
185   Freshman  2019/12/10   151.2    43.0
125   Freshman  2019/11/24   151.8    38.0
63    Freshman  2019/10/31   152.2    43.0
108   Freshman   2019/12/8   152.4    38.0
157   Freshman   2019/9/11   152.5    45.0
..         ...         ...     ...     ...
3    Sophomore    2020/1/3     NaN    41.0
91   Sophomore    2019/9/7     NaN     NaN
98   Sophomore   2019/11/3     NaN    68.0
178  Sophomore    2020/1/7     NaN    76.0
181  Sophomore  2019/11/23     NaN    55.0

[200 rows x 4 columns]

In [989]:
sorting_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[4],learn_pd_data.columns[5]],set_index=[learn_pd_data.columns[4],learn_pd_data.columns[5]],ascending=[True,True])

     Height  Weight
143   145.4    34.0
49    147.3    34.0
120   147.8    34.0
30    148.7    41.0
139   150.5    36.0
..      ...     ...
98      NaN    68.0
178     NaN    76.0
36      NaN    79.0
91      NaN     NaN
102     NaN     NaN

[200 rows x 2 columns]

In [ ]:
sorting_data(data=magic_land,index_columns=[magic_land_colums[0],magic_land_colums[2]],set_index=[magic_land_colums[0],magic_land_colums[2]],ascending=[True,True])

             Week  Temperature
Day 19     Friday        12.89
Day 12     Friday        15.12
Day 5      Friday        15.25
Day 15     Monday        12.11
Day 1      Monday        13.40
Day 8      Monday        16.50
Day 20   Saturday        13.56
Day 13   Saturday        14.14
Day 6    Saturday        15.56
Day 14     Sunday        13.31
Day 21     Sunday        14.83
Day 7      Sunday        16.10
Day 18   Thursday        12.24
Day 4    Thursday        14.49
Day 11   Thursday        15.52
Day 16    Tuesday        11.48
Day 2     Tuesday        13.96
Day 9     Tuesday        16.20
Day 17  Wednesday        11.96
Day 3   Wednesday        14.21
Day 10  Wednesday        15.80

In [ ]:
def data_set_index(data:pd.DataFrame,index_columns:list,set_indx:list):
    if duplicated_data_includ_test(data=data,index=index_columns,index_another=set_indx):
        return data[index_columns].set_index(set_indx)
    else:print("set index is not in index_columns")

In [ ]:
data_set_index(data=learn_pd_data,index_columns=[learn_pd_data.columns[1],learn_pd_data.columns[8],learn_pd_data.columns[4]],set_indx=[learn_pd_data.columns[1]])

            Test_Date  Height
Grade
Freshman    2019/10/5   158.9
Freshman     2019/9/4   166.5
Senior      2019/9/12   188.9
Sophomore    2020/1/3     NaN
Sophomore   2019/11/6   174.0
...               ...     ...
Junior     2019/10/17   153.9
Senior      2019/9/22   160.9
Senior       2020/1/5   153.9
Senior       2020/1/7   175.3
Sophomore   2019/11/6   155.7

[200 rows x 2 columns]

In [ ]:
data_set_index(data=magic_land,index_columns=[magic_land_colums[0],magic_land_colums[2]],set_indx=[magic_land_colums[0]])

           Temperature
Week
Monday           13.40
Tuesday          13.96
Wednesday        14.21
Thursday         14.49
Friday           15.25
Saturday         15.56
Sunday           16.10
Monday           16.50
Tuesday          16.20
Wednesday        15.80
Thursday         15.52
Friday           15.12
Saturday         14.14
Sunday           13.31
Monday           12.11
Tuesday          11.48
Wednesday        11.96
Thursday         12.24
Friday           12.89
Saturday         13.56
Sunday           14.83

In [ ]:
sorting_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[1],learn_pd_data.columns[9],learn_pd_data.columns[4],learn_pd_data.columns[5]],
             set_index=[learn_pd_data.columns[1],learn_pd_data.columns[9]],ascending=[True,False])

         Grade Time_Record  Height  Weight
136   Freshman     0:05:27   155.2    44.0
140   Freshman     0:05:27   152.7    43.0
149   Freshman     0:05:26   158.5    49.0
15    Freshman     0:05:25   156.0    49.0
28    Freshman     0:05:24   170.2    63.0
..         ...         ...     ...     ...
98   Sophomore     0:03:48     NaN    68.0
167  Sophomore     0:03:45   157.0    43.0
48   Sophomore     0:03:44   177.3    79.0
74   Sophomore     0:03:32   169.4    74.0
120  Sophomore     0:03:32   147.8    34.0

[200 rows x 4 columns]

In [981]:
def apply_data(data:pd.DataFrame|None,index_columns:list|pd.DataFrame,value,other_value=None,method:str|None=None): #value is anonymity function
    match method:
     case _:
      if   data is  not None:
       return data[index_columns].apply(value) 
      else :return index_columns.apply(value,other_value)

In [982]:
apply_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[4],learn_pd_data.columns[5]],
           value=lambda x:x.mean(),method=None)

Height    163.218033
Weight     55.015873
dtype: float64

In [ ]:
apply_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[4],learn_pd_data.columns[5]],value=lambda x:(x-x.mean()).abs().mean(),method=None)

Height     6.707229
Weight    10.391870
dtype: float64

In [ ]:
learn_pd_data[[learn_pd_data.columns[4],learn_pd_data.columns[5]]]

     Height  Weight
0     158.9    46.0
1     166.5    70.0
2     188.9    89.0
3       NaN    41.0
4     174.0    74.0
..      ...     ...
195   153.9    46.0
196   160.9    50.0
197   153.9    45.0
198   175.3    71.0
199   155.7    51.0

[200 rows x 2 columns]

In [ ]:
apply_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[4],learn_pd_data.columns[5]],
           value=lambda x:x.corr(learn_pd_data[learn_pd_data.columns[5]]),method=None)

Height    0.936016
Weight    1.000000
dtype: float64

In [ ]:
apply_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[4],learn_pd_data.columns[5]],
           value=lambda x:x.cov(learn_pd_data[learn_pd_data.columns[5]]),method=None)

Height    104.652083
Weight    164.462513
dtype: float64

In [ ]:
apply_data(data=magic_land,index_columns=[magic_land_colums[2]],value=lambda x :x.sum(),method=None)

Temperature    298.63
dtype: float64

In [ ]:
def rolling_apply_data(data:pd.DataFrame,index_columns:list,window:int,func:any,method:str|None,other:pd.Series|None,value:int|None):
  if window>0:
    if method is not None:
     match method:
       case 'cov':
          return data[index_columns].rolling(window).cov(data[other])
       case'corr':
         return data[index_columns].rolling(window).corr(data[other])
       case 'shfit':
        return data[index_columns].shift(value)
       case 'diff':
        return data[index_columns].diff(value)
       case 'pct':
        return data[index_columns].pct_change()
       case _:...
    else:    
     return data[index_columns].rolling(window).apply(func)
  else:print("window is not negative")

In [ ]:
rolling_apply_data(data=learn_pd_data,index_columns=[learn_pd_data.columns[4],learn_pd_data.columns[5]]
                   ,window=3,func=None,method='cov',other=[learn_pd_data.columns[5]],value=None)

     Height      Weight
0       NaN         NaN
1       NaN         NaN
2       NaN  464.333333
3       NaN  584.333333
4       NaN  603.000000
..      ...         ...
195     NaN  333.000000
196     NaN    4.333333
197     NaN    7.000000
198     NaN  190.333333
199     NaN  185.333333

[200 rows x 2 columns]

In [ ]:
rolling_apply_data(data=magic_land,index_columns=[magic_land.columns[2]],window=2,func=lambda x:x.max(),method=None,other=None,value=None)

        Temperature
Day 1           NaN
Day 2         13.96
Day 3         14.21
Day 4         14.49
Day 5         15.25
Day 6         15.56
Day 7         16.10
Day 8         16.50
Day 9         16.50
Day 10        16.20
Day 11        15.80
Day 12        15.52
Day 13        15.12
Day 14        14.14
Day 15        13.31
Day 16        12.11
Day 17        11.96
Day 18        12.24
Day 19        12.89
Day 20        13.56
Day 21        14.83

In [ ]:
learn_pd_data[learn_pd_data.columns[4]].expanding().mean()

0      158.900000
1      162.700000
2      171.433333
3      171.433333
4      172.075000
          ...
195    163.257542
196    163.244444
197    163.192818
198    163.259341
199    163.218033
Name: Height, Length: 200, dtype: float64

In [ ]:
magic_land[magic_land.columns[2]].expanding().sum()

Day 1      13.40
Day 2      27.36
Day 3      41.57
Day 4      56.06
Day 5      71.31
Day 6      86.87
Day 7     102.97
Day 8     119.47
Day 9     135.67
Day 10    151.47
Day 11    166.99
Day 12    182.11
Day 13    196.25
Day 14    209.56
Day 15    221.67
Day 16    233.15
Day 17    245.11
Day 18    257.35
Day 19    270.24
Day 20    283.80
Day 21    298.63
Name: Temperature, dtype: float64

In [ ]:

pokemon=pd.read_csv('pokemon.csv')
main_info=get_dataframe_column(iter=pokemon,choose_colums=5,end_columns=len(pokemon.columns))

print((main_info.sum(1)!=pokemon['Total']).mean())

0.0

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0    45      49       49       65       65     45
1    60      62       63       80       80     60
2    80      82       83      100      100     80
3    80     100      123      122      120     80
4    39      52       43       60       50     65
..   ..     ...      ...      ...      ...    ...
795  50     100      150      100      150     50
796  50     160      110      160      110    110
797  80     110       60      150      130     70
798  80     160       60      170      130     80
799  80     110      120      130       90     70

[800 rows x 6 columns]

In [ ]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70

In [847]:
pokemon_dup=get_muit_columns_data(data=pokemon,index=[pokemon.columns[0],pokemon.columns[2],pokemon.columns[3]],index_another=[pokemon.columns[0],pokemon.columns[2]],keep='first')
pokemon_dup[pokemon.columns[2]].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [848]:
pokemon_dup[pokemon.columns[2]].value_counts().index[:3]

Index(['Water', 'Normal', 'Grass'], dtype='object', name='Type 1')

In [868]:
pokemon_arrt=get_muit_columns_data(data=pokemon_dup,index=[pokemon.columns[2],pokemon.columns[3]],index_another=None)
pokemon_arrt.shape[0]
pokemon_arrt.columns[2]
type_one_ability=pokemon_arrt[pokemon_arrt.columns[1]]
type_two_ability=pokemon_arrt[pokemon_arrt.columns[2]]

In [870]:
type_one=pokemon[pokemon.columns[2]]
pokemon_type_Full=[i+''+j if i!=j else i for i in type_one.unique() for j in type_one.unique() ]
pokemon_type_part=[i+''+j if not isinstance(j,float) else i for i,j in zip(type_one_ability,type_two_ability)]
res=set(pokemon_type_Full).difference(set(pokemon_type_part))
len(res)

181

In [895]:
attack=[pokemon.columns[6]]
mask_where(data=pokemon,index_columns=attack,cond=pokemon[attack]>120,new_value='hight',logic='mask').mask(pokemon[attack]<50,'low').mask((50<=pokemon[attack])&(pokemon[attack]<=120),'mid')

    Attack
0      low
1      mid
2      mid
3      mid
4      mid
..     ...
795    mid
796  hight
797    mid
798  hight
799    mid

[800 rows x 1 columns]

In [904]:
replace_data(data=pokemon,index_columns=pokemon.columns[2],replace_text={i:str.upper(i) for i in pokemon[pokemon.columns[2]].unique()})

0        GRASS
1        GRASS
2        GRASS
3        GRASS
4         FIRE
        ...
795       ROCK
796       ROCK
797    PSYCHIC
798    PSYCHIC
799       FIRE
Name: Type 1, Length: 800, dtype: object

In [905]:
apply_data(data=pokemon,index_columns=pokemon.columns[2],value=lambda x:str.upper(x),method=None)

0        GRASS
1        GRASS
2        GRASS
3        GRASS
4         FIRE
        ...
795       ROCK
796       ROCK
797    PSYCHIC
798    PSYCHIC
799       FIRE
Name: Type 1, Length: 800, dtype: object

In [ ]:
pokemon['Deviation']=apply_data(data=None,index_columns=main_info,value=(lambda x:(np.max((x-x.median()).abs()))),other_value=1,method=None)
sorting_data(data=pokemon,index_columns=None,set_index=['Deviation'],ascending=False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Deviation
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,215.0
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,207.5
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,190.0
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,155.0
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,145.0

In [ ]:
np.random.seed(0)
s=pd.Series(np.random.randint(-1,2,30).cumsum())
s.ewm(alpha=0.2).mean()

0    -1.000000
1    -1.000000
2    -1.409836
3    -1.609756
4    -1.725845
5    -1.529101
6    -1.648273
7    -1.492481
8    -1.609720
9    -1.921223
10   -2.376048
11   -2.510047
12   -2.613738
13   -2.485343
14   -2.177441
15   -2.140925
16   -2.112091
17   -2.089261
18   -2.071148
19   -2.056753
20   -2.247158
21   -2.398846
22   -2.720978
23   -3.178945
24   -3.544537
25   -3.635906
26   -3.909386
27   -3.927544
28   -4.142368
29   -4.314107
dtype: float64