In [375]:
import pandas as pd
import numpy as np

OPEN Data write to Pandas

In [ ]:
read_cmakelists=pd.read_table("CMakeLists.txt",usecols=[0],header=None,engine='python',index_col=0)  #CMakeLists.txt builds by cmake
read_cmakelists.head(4)

Empty DataFrame
Columns: []
Index: [cmake_minimum_required(VERSION 3.25), #this change avoid the warning that appear when we include raylib using Cmake fatch content , project(raylib), # Avoid excessive expansion of variables in conditionals. In particular, if]

In [ ]:

read_land=pd.read_csv('lands.csv',index_col=0) 
read_land

             Week       Weather  Temperature
Day 1      Monday  accumulation        13.40
Day 2     Tuesday        breeze        13.96
Day 3   Wednesday          calm        14.21
Day 4    Thursday   disturbance        14.49
Day 5      Friday       drizzle        15.25
Day 6    Saturday         sunny        15.56
Day 7      Sunday          fair        16.10
Day 8      Monday        cloudy        16.50
Day 9     Tuesday       showers        16.20
Day 10  Wednesday          rain        15.80
Day 11   Thursday      downpour        15.52
Day 12     Friday          hail        15.12
Day 13   Saturday         sleet        14.14
Day 14     Sunday          snow        13.31
Day 15     Monday     snowflake        12.11
Day 16    Tuesday        gloomy        11.48
Day 17  Wednesday         foggy        11.96
Day 18   Thursday      overcast        12.24
Day 19     Friday         clear        12.89
Day 20   Saturday      blustery        13.56
Day 21     Sunday         windy        14.83

In [378]:

read_nut=pd.read_csv("Nut_Services_Admin_Costs.csv",index_col=0)
read_nut

                                            Cumulative Cost:\r\n October-September
State Agency or Indian Tribal Organization
Connecticut                                                             12113786.0
Maine                                                                    5095547.0
Massachusetts                                                           24672286.0
New Hampshire                                                            4033109.0
New York                                                               108621754.0
...                                                                            ...
Washington                                                              50671500.0
Northern Marianas                                                        1184670.0
Inter-Tribal Council, AZ                                                 3188297.0
Navajo Nation, AZ                                                        3291062.0
Inter-Tribal Council, NV                                                  609464.0

[92 rows x 1 columns]

In [379]:
read_xlsx=pd.read_excel("chess_data.xlsx",nrows=5)
read_xlsx.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1504210000000,1504210000000,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1504130000000,1504130000000,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1504130000000,1504130000000,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1504110000000,1504110000000,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1504030000000,1504030000000,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [380]:
read_nut.to_csv("nut_sales.txt",sep='\t',index=True)

In [ ]:

type(read_land)

pandas.core.frame.DataFrame

In [ ]:
def  data_colunm_get(iter:pd.DataFrame):   #get any dataframe columns for any data
 data_row=[]
 for i in iter:
   data_row.append(i)
 return data_row

magic_land_colums=data_colunm_get(iter=read_land)
magic_land_colums

['Week', 'Weather', 'Temperature']

In [ ]:

magic_land_colums[0]  #get magic_land_columns[0] index

'Week'

In [ ]:
Week=read_land.loc[:,'Week']    #get the magic land all week
WEEK=pd.Series(data=Week,index=["Day %d"% (i+1) for i in range(0,21)],dtype=object,name="Week") #see the day-week reference 
WEEK

Day 1        Monday
Day 2       Tuesday
Day 3     Wednesday
Day 4      Thursday
Day 5        Friday
Day 6      Saturday
Day 7        Sunday
Day 8        Monday
Day 9       Tuesday
Day 10    Wednesday
Day 11     Thursday
Day 12       Friday
Day 13     Saturday
Day 14       Sunday
Day 15       Monday
Day 16      Tuesday
Day 17    Wednesday
Day 18     Thursday
Day 19       Friday
Day 20     Saturday
Day 21       Sunday
Name: Week, dtype: object

In [ ]:
magic_land_value=WEEK.values   #get magic land all week index data
magic_land_value

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday'], dtype=object)

In [ ]:
magic_land_index=WEEK.index  #get magic land all day index data
magic_land_index

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8',
       'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15',
       'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21'],
      dtype='object')

In [387]:
magic_land_datatype=WEEK.dtype
magic_land_datatype

dtype('O')

In [388]:
magic_land_name=WEEK.name
magic_land_name

'Week'

In [389]:
magic_land_shape=WEEK.shape
magic_land_shape

(21,)

In [ ]:
WEEK[magic_land_index.tolist()[0]]

'Monday'

In [391]:
magic_land=pd.DataFrame(data=read_land)
magic_land

             Week       Weather  Temperature
Day 1      Monday  accumulation        13.40
Day 2     Tuesday        breeze        13.96
Day 3   Wednesday          calm        14.21
Day 4    Thursday   disturbance        14.49
Day 5      Friday       drizzle        15.25
Day 6    Saturday         sunny        15.56
Day 7      Sunday          fair        16.10
Day 8      Monday        cloudy        16.50
Day 9     Tuesday       showers        16.20
Day 10  Wednesday          rain        15.80
Day 11   Thursday      downpour        15.52
Day 12     Friday          hail        15.12
Day 13   Saturday         sleet        14.14
Day 14     Sunday          snow        13.31
Day 15     Monday     snowflake        12.11
Day 16    Tuesday        gloomy        11.48
Day 17  Wednesday         foggy        11.96
Day 18   Thursday      overcast        12.24
Day 19     Friday         clear        12.89
Day 20   Saturday      blustery        13.56
Day 21     Sunday         windy        14.83

In [ ]:
magic_land[[magic_land_colums[0],magic_land_colums[1]]] #select the Week and Weather data

             Week       Weather
Day 1      Monday  accumulation
Day 2     Tuesday        breeze
Day 3   Wednesday          calm
Day 4    Thursday   disturbance
Day 5      Friday       drizzle
Day 6    Saturday         sunny
Day 7      Sunday          fair
Day 8      Monday        cloudy
Day 9     Tuesday       showers
Day 10  Wednesday          rain
Day 11   Thursday      downpour
Day 12     Friday          hail
Day 13   Saturday         sleet
Day 14     Sunday          snow
Day 15     Monday     snowflake
Day 16    Tuesday        gloomy
Day 17  Wednesday         foggy
Day 18   Thursday      overcast
Day 19     Friday         clear
Day 20   Saturday      blustery
Day 21     Sunday         windy

In [393]:
magic_lands_value=magic_land.values
magic_lands_value

array([['Monday', 'accumulation', 13.4],
       ['Tuesday', 'breeze', 13.96],
       ['Wednesday', 'calm', 14.21],
       ['Thursday', 'disturbance', 14.49],
       ['Friday', 'drizzle', 15.25],
       ['Saturday', 'sunny', 15.56],
       ['Sunday', 'fair', 16.1],
       ['Monday', 'cloudy', 16.5],
       ['Tuesday', 'showers', 16.2],
       ['Wednesday', 'rain', 15.8],
       ['Thursday', 'downpour', 15.52],
       ['Friday', 'hail', 15.12],
       ['Saturday', 'sleet', 14.14],
       ['Sunday', 'snow', 13.31],
       ['Monday', 'snowflake', 12.11],
       ['Tuesday', 'gloomy', 11.48],
       ['Wednesday', 'foggy', 11.96],
       ['Thursday', 'overcast', 12.24],
       ['Friday', 'clear', 12.89],
       ['Saturday', 'blustery', 13.56],
       ['Sunday', 'windy', 14.83]], dtype=object)

In [394]:
magic_lands_index=magic_land.index
magic_lands_index

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8',
       'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15',
       'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21'],
      dtype='object')

In [395]:
magic_lands_colums=magic_land.columns
magic_lands_colums

Index(['Week', 'Weather', 'Temperature'], dtype='object')

In [396]:
magic_land.dtypes

Week            object
Weather         object
Temperature    float64
dtype: object

In [397]:
magic_land.shape

(21, 3)

In [398]:
magic_land.T

,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,Day 7,Day 8,Day 9,Day 10,...,Day 12,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19,Day 20,Day 21
Week,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,...,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Weather,accumulation,breeze,calm,disturbance,drizzle,sunny,fair,cloudy,showers,rain,...,hail,sleet,snow,snowflake,gloomy,foggy,overcast,clear,blustery,windy
Temperature,13.4,13.96,14.21,14.49,15.25,15.56,16.1,16.5,16.2,15.8,...,15.12,14.14,13.31,12.11,11.48,11.96,12.24,12.89,13.56,14.83

In [ ]:
learn_pd_data=pd.read_csv('learn_pandas.csv',index_col=0)  #it data for joyful-pandas address is  https://github.com/datawhalechina/joyful-pandas/blob/master/data/learn_pandas.csv
learn_pd_data.columns[2]

'Gender'

In [ ]:
def get_dataframe_column(iter:pd.DataFrame,choose_colums:int):  #get any dataframe columns for any data
    if  (choose_colums>len(iter.columns)) or (choose_colums<0):
        raise ValueError("choose_colums is not in range")
    else:
        return iter[iter.columns[:choose_colums]]

In [419]:
#magic_land[magic_lands_colums[:2]]
get_dataframe_column(iter=magic_land,choose_colums=2)

             Week       Weather
Day 1      Monday  accumulation
Day 2     Tuesday        breeze
Day 3   Wednesday          calm
Day 4    Thursday   disturbance
Day 5      Friday       drizzle
Day 6    Saturday         sunny
Day 7      Sunday          fair
Day 8      Monday        cloudy
Day 9     Tuesday       showers
Day 10  Wednesday          rain
Day 11   Thursday      downpour
Day 12     Friday          hail
Day 13   Saturday         sleet
Day 14     Sunday          snow
Day 15     Monday     snowflake
Day 16    Tuesday        gloomy
Day 17  Wednesday         foggy
Day 18   Thursday      overcast
Day 19     Friday         clear
Day 20   Saturday      blustery
Day 21     Sunday         windy

In [420]:
get_dataframe_column(iter=learn_pd_data,choose_colums=3)

                                   Grade            Name  Gender
School
Shanghai Jiao Tong University   Freshman    Gaopeng Yang  Female
Peking University               Freshman  Changqiang You    Male
Shanghai Jiao Tong University     Senior         Mei Sun    Male
Fudan University               Sophomore    Xiaojuan Sun  Female
Fudan University               Sophomore     Gaojuan You    Male
...                                  ...             ...     ...
Fudan University                  Junior    Xiaojuan Sun  Female
Tsinghua University               Senior         Li Zhao  Female
Shanghai Jiao Tong University     Senior  Chengqiang Chu  Female
Shanghai Jiao Tong University     Senior   Chengmei Shen    Male
Tsinghua University            Sophomore     Chunpeng Lv    Male

[200 rows x 3 columns]

In [403]:
magic_land.head(3)

            Week       Weather  Temperature
Day 1     Monday  accumulation        13.40
Day 2    Tuesday        breeze        13.96
Day 3  Wednesday          calm        14.21

In [404]:
learn_pd_data.head(3)

,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
School,,,,,,,,,
Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N,1,2019/10/5,0:04:34
Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019/9/4,0:04:20
Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N,2,2019/9/12,0:05:22

In [405]:
magic_land.tail(3)

            Week   Weather  Temperature
Day 19    Friday     clear        12.89
Day 20  Saturday  blustery        13.56
Day 21    Sunday     windy        14.83

In [406]:
learn_pd_data.tail(3)

,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
School,,,,,,,,,
Shanghai Jiao Tong University,Senior,Chengqiang Chu,Female,153.9,45.0,N,1,2020/1/5,0:04:48
Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,175.3,71.0,N,2,2020/1/7,0:04:58
Tsinghua University,Sophomore,Chunpeng Lv,Male,155.7,51.0,N,1,2019/11/6,0:05:05

In [407]:
learn_pd_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, Shanghai Jiao Tong University to Tsinghua University
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Grade        200 non-null    object
 1   Name         200 non-null    object
 2   Gender       200 non-null    object
 3   Height       183 non-null    float64
 4   Weight       189 non-null    float64
 5   Transfer     188 non-null    object
 6   Test_Number  200 non-null    int64
 7   Test_Date    200 non-null    object
 8   Time_Record  200 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 23.7+ KB

In [408]:
magic_land.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, Day 1 to Day 21
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Week         21 non-null     object
 1   Weather      21 non-null     object
 2   Temperature  21 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.2+ KB

In [409]:
magic_land.describe()

       Temperature
count    21.000000
mean     14.220476
std       1.511918
min      11.480000
25%      13.310000
50%      14.210000
75%      15.520000
max      16.500000

In [410]:
learn_pd_data.describe()

           Height      Weight  Test_Number
count  183.000000  189.000000   200.000000
mean   163.218033   55.015873     1.645000
std      8.608879   12.824294     0.722207
min    145.400000   34.000000     1.000000
25%    157.150000   46.000000     1.000000
50%    161.900000   51.000000     1.500000
75%    167.500000   65.000000     2.000000
max    193.900000   89.000000     3.000000

In [411]:
objects=(type(magic_land[magic_lands_colums[0]].dtypes))
print(objects)
type(magic_land[magic_land_colums[2]])

<class 'numpy.dtypes.ObjectDType'>

pandas.core.series.Series

In [ ]:
def feature_statistics(data:pd.DataFrame,index:list,feature:str):
     data_feature=data[index]
     for index in data_feature.columns:
      if (type(data_feature[index].dtypes)!=objects) :
       match feature:
         case "mean":
          return data_feature.mean(axis=1)       #get any dataframe feature for any data
         
         case "median":                         
          return data_feature.median(axis=1)
         case "max":
             return data_feature.max()
         case "min":
             return data_feature.min()
         case "std":
          return data_feature.std()
         case "var":
          return data_feature.var()
         case 'quantile':
          return data_feature.quantile(q=0.25,axis=1)
         case "count":
          return data_feature.count()
         case "idxmax":
          return data_feature.idxmax()
         case _:
           return("not support feature")
         
      else:raise TypeError("not support dtype is object")

In [413]:
feature_statistics(data=learn_pd_data,index=[learn_pd_data.columns[3],learn_pd_data.columns[4]],feature="idxmax")

Height              Tsinghua University
Weight    Shanghai Jiao Tong University
dtype: object

In [414]:
feature_statistics(data=magic_land,index=[magic_land_colums[2]],feature='median')

Day 1     13.40
Day 2     13.96
Day 3     14.21
Day 4     14.49
Day 5     15.25
Day 6     15.56
Day 7     16.10
Day 8     16.50
Day 9     16.20
Day 10    15.80
Day 11    15.52
Day 12    15.12
Day 13    14.14
Day 14    13.31
Day 15    12.11
Day 16    11.48
Day 17    11.96
Day 18    12.24
Day 19    12.89
Day 20    13.56
Day 21    14.83
dtype: float64