In [1]:
from pandas_basic_function import function_panads  as bas
import pandas as pd
import numpy.dtypes as T

In [2]:
pokemon_data=pd.read_csv('pokemon.csv')
pokemon_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70

Test my function by pokemon_data
Firstly: all columns from this data

In [3]:
pokemon_columns=bas.data_colunm_get(iter=pokemon_data) #this funtion is simliar to the pandas.DataFrame.colums
pokemon_columns==pokemon_data.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

Second: get any my want columns for data

In [4]:
bas.get_dataframe_column(iter=pokemon_data,choose_colums=3,end_columns=9)

     Type 2  Total  HP  Attack  Defense  Sp. Atk
0    Poison    318  45      49       49       65
1    Poison    405  60      62       63       80
2    Poison    525  80      82       83      100
3    Poison    625  80     100      123      122
4       NaN    309  39      52       43       60
..      ...    ...  ..     ...      ...      ...
795   Fairy    600  50     100      150      100
796   Fairy    700  50     160      110      160
797   Ghost    600  80     110       60      150
798    Dark    680  80     160       60      170
799   Water    600  80     110      120      130

[800 rows x 6 columns]

Third:get feature statistics for my data

In [11]:
bas.feature_statistics(data=pokemon_data,index=[pokemon_columns[4],pokemon_columns[5],pokemon_columns[6]],feature='min')
#rint((T.ObjectDType)==(pokemon_data[[pokemon_columns[3],pokemon_columns[9]]].dtypes))
#pokemon_data[[pokemon_columns[3],pokemon_columns[4]]]

<class 'numpy.dtypes.Int64DType'>

Total     180
HP          1
Attack      5
dtype: int64

Fourth: get Data single columns for value count and unique

In [ ]:
bas.data_uniform(data=pokemon_data,index=pokemon_columns[5])

unique data is array([ 45,  60,  80,  39,  58,  78,  44,  59,  79,  50,  40,  65,  63,
        83,  30,  55,  35,  75,  70,  90,  46,  61,  81,  95,  38,  73,
       115, 140,  10,  25,  52, 105,  85, 250,  20, 130,  48, 160,  41,
        91, 106, 100, 125, 190, 255,  28,  68, 150,  31,   1,  64,  84,
       104,  72, 144, 170, 110,  43,  66,  86,  99,  76,  53,  37,  77,
        67,  97, 111,  49,  71, 103,  57, 108, 135,  74,  69, 120, 116,
        62,  54,  36,  51, 114, 165, 109,  89,  92,  56,  88, 123, 101,
        82,  42, 126])
HP
60     67
50     63
70     57
65     46
75     43
       ..
92      1
88      1
56      1
101     1
42      1
Name: count, Length: 94, dtype: int64

#Fivth: get single columns for duplicated_data

In [ ]:
bas.duplicated_data(data=pokemon_data,index=[pokemon_columns[4],pokemon_columns[5],pokemon_columns[6]],duplicate_index=[pokemon_columns[4],pokemon_columns[5]])

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796    False
797     True
798    False
799     True
Length: 800, dtype: bool

Sixth: get multi-columns for data

In [ ]:
bas.get_muit_columns_data(data=pokemon_data,index=[pokemon_columns[4],pokemon_columns[5],pokemon_columns[6]],index_another=[pokemon_columns[4],pokemon_columns[5]])

     Total  HP  Attack
3      625  80     100
9      314  44      48
10     405  59      63
11     530  79      83
12     630  79     103
..     ...  ..     ...
787    494  85     100
788    304  55      69
789    514  95     117
796    700  50     160
798    680  80     160

[464 rows x 3 columns]

##Seventh: replace data

In [ ]:
import numpy as np
bas.replace_data(data=pokemon_data,index_columns=[pokemon_columns[2],pokemon_columns[3]],replace_text={np.nan:"data lose"})

      Type 1     Type 2
0      Grass     Poison
1      Grass     Poison
2      Grass     Poison
3      Grass     Poison
4       Fire  data lose
..       ...        ...
795     Rock      Fairy
796     Rock      Fairy
797  Psychic      Ghost
798  Psychic       Dark
799     Fire      Water

[800 rows x 2 columns]

#Eighth:get data mask or where

In [ ]:
pokemon_data[pokemon_columns[6]]

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [ ]:
bas.mask_where(data=pokemon_data,index_columns=[pokemon_columns[4]
,pokemon_columns[5],pokemon_columns[6]],cond=(~(pokemon_data[pokemon_columns[5]]>60)&(pokemon_data[pokemon_columns[6]]<180)),new_value="s+",logic='where')

    Total  HP Attack
0     318  45     49
1     405  60     62
2      s+  s+     s+
3      s+  s+     s+
4     309  39     52
..    ...  ..    ...
795   600  50    100
796   700  50    160
797    s+  s+     s+
798    s+  s+     s+
799    s+  s+     s+

[800 rows x 3 columns]

#nighth sort_value() of data

In [ ]:

bas.sorting_data(data=pokemon_data,index_columns=[pokemon_columns[4],pokemon_columns[5],pokemon_columns[6]],set_index=[pokemon_columns[5],pokemon_columns[6]],ascending=False)

index_columns is not None
duplicated data finish

     Total   HP  Attack
261    540  255      10
121    450  250       5
217    405  190      33
351    500  170      90
655    470  165      75
..     ...  ...     ...
381    200   20      15
139    200   20      10
230    505   20      10
55     265   10      55
316    236    1      90

[800 rows x 3 columns]

#tenth :set_index() for data

In [ ]:
bas.data_set_index(data=pokemon_data,index_columns=[pokemon_columns[6],pokemon_columns[5],pokemon_columns[5]],set_indx=[pokemon_columns[6]])

#feature_statistics(data=a,index=[a.columns[0]],feature='max')

        HP  HP
Attack
49      45  45
62      60  60
82      80  80
100     80  80
52      39  39
...     ..  ..
100     50  50
160     50  50
110     80  80
160     80  80
110     80  80

[800 rows x 2 columns]

#eleventh:apply function for data

In [ ]:
bas.apply_data(data=pokemon_data,index_columns=[pokemon_columns[4],pokemon_columns[5],pokemon_columns[6]],value=lambda x:x.max())

Total     780
HP        255
Attack    190
dtype: int64

Finish: rolling window for my data

In [ ]:
bas.rolling_apply_data(data=pokemon_data,index_columns=[pokemon_columns[4],pokemon_columns[5],pokemon_columns[6]],window=1,func=lambda x:x.max())
#pokemon_data[pokemon_columns[5]].rolling(window=1).max()

     Total    HP  Attack
0    318.0  45.0    49.0
1    405.0  60.0    62.0
2    525.0  80.0    82.0
3    625.0  80.0   100.0
4    309.0  39.0    52.0
..     ...   ...     ...
795  600.0  50.0   100.0
796  700.0  50.0   160.0
797  600.0  80.0   110.0
798  680.0  80.0   160.0
799  600.0  80.0   110.0

[800 rows x 3 columns]